<section class="main-section client-part" id="client"><!--main-section client-part-start-->
	<div class="container">
		<b class="quote-right wow fadeInDown delay-03"><i class="fa fa-quote-right"></i></b>
    	<div class="row">
        	<div class="col-lg-12">
            	<p class="client-part-haead wow fadeInDown delay-05">It was a pleasure to work with the guys at Knight Studio. They made sure
we were well fed and drunk all the time!</p>
            </div>
        </div>
    	<ul class="client wow fadeIn delay-05s">
        	<li><a href="#">
              <%= image_tag 'client-pic1.jpg' %>
                <h3>James Bond</h3>
                <span>License To Drink Inc.</span>
            </a></li>
        </ul>
    </div>
</section><!--main-section client-part-end-->

<div class="c-logo-part"><!--c-logo-part-start-->
	<div class="container">
    	<ul>
        	<li><a href="#"><%= image_tag 'c-liogo1.png' %></a></li>
          <li><a href="#"><%= image_tag 'c-liogo2.png' %></a></li>
          <li><a href="#"><%= image_tag 'c-liogo3.png' %></a></li>
          <li><a href="#"><%= image_tag 'c-liogo4.png' %></a></li>
          <li><a href="#"><%= image_tag 'c-liogo5.png' %></a></li>
    	</ul>
	</div>
</div><!--c-logo-part-end-->
