<%= form_with(model: product, local: true, multipart: true) do |form| %>

  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> impediram que o produto fosse salvo:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :product_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, id: :product_image, class: 'form-control' %>
  </div>

  <div class="form-check">
    <%= form.label nil, class: 'form-check-label' do %>
      <%= form.check_box :idprincipal, id: :product_active, class: 'form-check-input' %>
      <%= form.label :active %>
    <% end %>
  </div>

  <div class="form-check">
    <%= form.label nil, class: 'form-check-label' do %>
      <%= form.check_box :idprincipal, id: :product_idprincipal, class: 'form-check-input' %>
      <%= form.label :idprincipal %>
    <% end %>
  </div>

  <div class="form-control">
    <%= form.submit nil, class: 'btn btn-outline-primary' %>
  </div>
<% end %>
