<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'Quem Somos', page_path('sobre'), class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Serviços', page_path('servico'), class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Contato', page_path('contato'), class: 'nav-link' %></li>


<% if user_signed_in? %>

	<li class='nav-item'><%= link_to 'Produtos', products_path, class: 'nav-link text-white bg-dark' %></li>
	<li class='nav-item'><%= link_to 'Clientes', clients_path, class: 'nav-link  text-white bg-dark' %></li>
	<li class='nav-item'><%= link_to('Minha Conta', edit_user_registration_path, class: 'nav-link') %></li>
  <li class='nav-item'><%= link_to('Sair', destroy_user_session_path, method: :delete, class: 'nav-link') %></li>

<% else %>
	<li class='nav-item'><%= link_to('Entrar', new_user_session_path, class: 'nav-link')  %></li>
	<li class='nav-item'><%= link_to('Registrar', new_user_registration_path, class: 'nav-link')  %></li>
<% end %>
