<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'Sobre', page_path('sobre'), class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Serviços', page_path('servico'), class: 'nav-link' %></li>
<<<<<<< HEAD
<li class='nav-item'><%= link_to 'Produtos', page_path('produto'), class: 'nav-link' %></li>
=======
<li class='nav-item'><%= link_to 'Produtos', products_path, class: 'nav-link' %></li>
>>>>>>> b075287da67bdac779f7f237526fb4edc7c4d1cb
<li class='nav-item'><%= link_to 'Contato', page_path('contato'), class: 'nav-link' %></li>
